<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" Name="Broforce">
  <EntryPoint>[UnityEngine.CoreModule.dll]UnityEngine.Application.cctor:Before</EntryPoint>
  <StartingPoint>[Assembly-CSharp.dll]Startup.Start:After</StartingPoint>
  <UIStartingPoint>[Assembly-CSharp.dll]MainMenu.Start:After</UIStartingPoint>
</Config>